h1 New Tweet
form.col-lg-6
  
  .form-group
    label(for="input-text") Text
    input.form-control(type='text', id="input-text", data-field="text", placeholder="Text")
  
  button.btn.btn-primary(type='submit') Submit
  button.btn.btn-default.cancel Cancel
