<% _(tweets).each(function(model, index) { %>
tr
  td <%= index+1 %>
  <% _(fields).each(function(field) { %>
  td <%= model[field] %>
  <% }); %>
  td
    .btn-group
      a.btn.btn-default(href!="#tweets/<%= model._id %>") Show
      a.btn.btn-default(href!="#tweets/<%= model._id %>/edit") Edit
      a.btn.btn-default.delete(href="#") Delete
<% }); %>
